.vh{
    &__container{
        padding: 10px;
        background-color: rgb(231, 231, 231);
        min-height: 2rem;
        padding-bottom: 1rem;

        .block-editor-block-list__layout{
            display: flex;
            flex-wrap: wrap;

            > div{
                width: 33%;
                margin: 0 0;
            }
        }
    }
}