.top {
	&__banner {
		background-color: #0b9a71;
		width: 100%;
		padding: 1rem 0;
		display: flex;
		justify-content: center;
	}

	&__content {
		display: grid;
		place-items: center;

		h1 {
			font-size: 0.7em;
			margin: 0;
			padding: 15px;
			color: #fff;
			border: 2px solid #fff;
			text-transform: uppercase;
			@include Responsive($tabletBreakpoint) {
				font-size: 1.5em;
				text-align: center;
			}
			@include Responsive($tabletSmallBreakpoint) {
				font-size: 1.3em;
			}
			@include Responsive($mobileBreakpoint) {
				font-size: 1em;
			}
		}
	}
}


// @include sm {
// 	h1 {
// 		font-size: 1em;
// 	}
// }

// @include tabletSmall {
// 	h1 {
// 		font-size: 1.3em;
// 	}
// }

// @include tablet {
// 	h1 {
// 		font-size: 1.5em;
// 	}
// }