.veldhuizen {
	&__container {
		&--verhuur-wrapper {
			.print-button-wrapper {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                
				button {
					position: static;
					width: 100%;
					background-color: #ff5400;
					color: white;
					padding: 15px 20%;
					-webkit-transition: box-shadow 0.3s ease-in-out;
					-moz-transition: box-shadow 0.3s ease-in-out;
					-o-transition: box-shadow 0.3s ease-in-out;
					transition: box-shadow 0.3s ease-in-out;
					@include sm {
						padding: 15px 30%;
					}
					@include tabletSmall {
						width: 250px;
						padding: 15px 45px;
					}
					i {
						float: left;
					}
				}

				button:hover {
					text-decoration: underline;
					box-shadow: 2px 2px 5px rgb(129, 129, 129);
				}
			}
		}
	}
}
