.veldhuizen__container--verhuur-wrapper {
    width: $containerWrapper;
	margin: 0 auto;
	background-color: white;
	box-shadow: $box-shadow-color;
	margin-top: 20px;

	@include Responsive($containerWrapper) {
		width: calc(100% - 1rem);
	}

	.veldhuizen__container--product-grid {
		.print-button {
			display: none;
		}
	}

	@include tablet {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.print-button-wrapper {
		order: 2;
	}
	.wp-block-cgb-block-veldhuizen-verhuur-table {
		padding-left: 1.2rem;
		padding-right: 1.2rem;

		@include tablet {
			width: 40%;
		}

		p {
			font-size: 0.8em;
		}

		table {
			order: 1;
			flex-grow: 1;
			margin-top: 1.2rem;
			font-size: 0.8em;
			border-collapse: collapse;
			position: relative;
			width: 100%;

            @include rwd {
                    
            }
			tr {
                
				td {
					padding: 10px;
				}

				&:nth-child(even) {
					background-color: $gray;
				}

				td:last-child {
					text-align: right;
				}

				td:first-child {
					text-align: left;
				}
			}
		}
	}

}