.veldhuizen {
	&__container {
		&--product-footer {
			// position: relative;
			// width: 1000px;
			// margin: 0 auto;
			background-color: #0b9a71;
			height: 50px;
			color: white;
			// height: 30px;

			a {
				color: white;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
                text-transform: none;
			}

			:first-child {
                float: left;
				margin-left: 2rem;
			}

			:last-child {
				float: right;
				margin-right: 2rem;
			}

			a:hover {
                color: white;
				text-decoration: underline;
			}
		}
	}
}