.veldhuizen {
	&__product-information {
		display: block;
		padding: 25Px;
		background-color: rgb(224, 224, 224);


		.wrapper-richtext {
			background-color: white;
            padding: 2rem;
		}
	}
}