.veldhuizen {
	&__container {
		&--product-grid {
			position: relative;
			padding-left: 1.2rem;
			padding-right: 1.2rem;

			h1 {
				font-size: 1em;
				color: #0b9a71;
				padding-top: 1rem;

				@include sm {
					font-size: 1.5em;
				}

				@include tabletSmall {
					font-size: 1.8em;
				}

				@include tablet {
					font-size: 2em;
				}

				@include rwd {
					font-size: 2.5em;
				}
			}

			// MODAL STYLING
			.modal {
				display: none;
				position: fixed;
				z-index: 5;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				background-color: rgba(41, 41, 41, 0.726);

				img {
					position: relative;
					width: auto;
					height: auto;
					margin: 0;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					box-shadow: 0px 0px 5px rgb(26, 26, 26);

					@include Responsive($tabletBreakpoint) {
						max-height: 80vh;
					}
					@include Responsive($mobileBreakpoint) {
						max-height: 90vh;
					}
				}
			}

			.close {
				color: white;
				position: absolute;
				top: 20px;
				right: 25px;
				font-size: 35px;
				font-weight: bold;
				z-index: 7;
				text-shadow: 0px 0px 10px rgb(44, 44, 44);
			}

			.close:hover,
			.close:focus {
				color: #999;
				text-decoration: none;
				cursor: pointer;
			}

			.prev,
			.next {
				cursor: pointer;
				position: absolute;
				width: auto;
				padding: 16px;
				margin: 0;
				top: 50%;
				transform: translateY(-50%);
				color: white;
				font-weight: bold;
				font-size: 20px;
				transition: 0.6s ease;
				border-radius: 0 3px 3px 0;
				user-select: none;
				-webkit-user-select: none;
				z-index: 5;
			}

			/* Position the "next button" to the right */
			.next {
				right: 0;
				border-radius: 3px 0 0 3px;
			}

			/* On hover, add a black background color with a little bit see-through */
			.prev:hover,
			.next:hover {
				background-color: rgba(0, 0, 0, 0.8);
			}

			// GALLERY STYLING
			.product-grid-wrapper {
				width: 100%;

				#big-image-wrapper {
					width: 100%;

					#big-image {
						object-fit: cover;
						width: 100%;
						max-height: 620px;
						height: auto;
						display: block;
						margin-top: 1rem;
						opacity: 1;

						@include Responsive($tabletBreakpoint) {
							max-height: 450px;
						}
						@include Responsive(820px) {
							max-height: 400px;
						}
					}
				}
				

				img {
					object-fit: cover;
					width: 15%;
					height: 100px;
					// border: solid 1px rgb(153, 153, 153);
					transition: .3s ease-in-out;

					@include Responsive($tabletBreakpoint) {
						height: 80px;
					}

					@include Responsive($tabletSmallBreakpoint) {
						height: 70px;
					}
					@include Responsive($mobileBreakpoint) {
						height: 50px;
					}
				}

				img:hover {
					transform: scale(1.1);
                    box-shadow: 0px 0px 10px rgb(109, 109, 109);
				}

				.gallery-pictures {
					margin-right: 2%;
					margin-top: 1em;
				}

				.gallery-pictures:nth-of-type(6n+6) {
					margin-right: 0;
				}

			}
		}
	}
}
